# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

WARNING:tensorflow:From C:\Users\colli\AppData\Roaming\Python\Python39\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
data = pd.read_csv(file_path)

# Review the DataFrame
data.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
data.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = data['credit_ranking']

# Display a sample of y
y[:5]

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [11]:
# Define features set X by selecting all columns but credit_ranking
X = data.copy()
X = X.drop(columns=['credit_ranking'])

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [20]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

1144    5
73      4
446     5
399     5
647     4
Name: credit_ranking, dtype: int64

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [43]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train, y_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [82]:
# Define the the number of inputs (features) to the model
n_inputs = len(X_train.columns)

# Review the number of features
n_inputs

11

In [24]:
# Define the number of neurons in the output layer
n_outputs = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
n_hidden1 = 6

# Review the number hidden nodes in the first layer
n_hidden1

6

In [26]:
# Define the number of hidden nodes for the second hidden layer
n_hidden2 = 3

# Review the number hidden nodes in the second layer
n_hidden2 = 3

In [83]:
# Create the Sequential model instance
model = Sequential()

In [84]:
# Add the first hidden layer
model.add(Dense(n_hidden1, activation="relu", input_dim=n_inputs))

In [85]:
# Add the second hidden layer
model.add(Dense(n_hidden2, activation="relu"))

In [86]:
# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(n_outputs, activation="linear"))

In [87]:
# Display the Sequential model summary
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 6)                 72

 dense_13 (Dense)            (None, 3)                 21

 dense_14 (Dense)            (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [88]:
# Compile the Sequential model
model.compile(loss="mse", optimizer="adam", metrics=["mse"])

In [97]:
# Fit the model using 50 epochs and the training data
model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 730us/step - loss: 0.4037 - mse: 0.4037
Epoch 2/50
38/38 [==============================] - 0s 676us/step - loss: 0.4029 - mse: 0.4029
Epoch 3/50
38/38 [==============================] - 0s 784us/step - loss: 0.4042 - mse: 0.4042
Epoch 4/50
38/38 [==============================] - 0s 757us/step - loss: 0.4023 - mse: 0.4023
Epoch 5/50
38/38 [==============================] - 0s 703us/step - loss: 0.4027 - mse: 0.4027
Epoch 6/50
38/38 [==============================] - 0s 703us/step - loss: 0.4028 - mse: 0.4028
Epoch 7/50
38/38 [==============================] - 0s 703us/step - loss: 0.4018 - mse: 0.4018
Epoch 8/50
38/38 [==============================] - 0s 703us/step - loss: 0.4010 - mse: 0.4010
Epoch 9/50
38/38 [==============================] - 0s 757us/step - loss: 0.4046 - mse: 0.4046
Epoch 10/50
38/38 [==============================] - 0s 676us/step - loss: 0.4011 - mse: 0.4011
Epoch 11/50
38/38 [==============================] - 0s 676us/step - loss: 0.4019 - mse: 0.4019
Epoch 12/50
38/38 [==============================] - 0s 676us/step - loss: 0.4005 - mse: 0.4005
Epoch 13/50
38/38 [==============================] - 0s 676us/step - loss: 0.4002 - mse: 0.4002
Epoch 14/50
38/38 [==============================] - 0s 676us/step - loss: 0.4022 - mse: 0.4022
Epoch 15/50
38/38 [==============================] - 0s 703us/step - loss: 0.4000 - mse: 0.4000
Epoch 16/50
38/38 [==============================] - 0s 838us/step - loss: 0.4000 - mse: 0.4000
Epoch 17/50
38/38 [==============================] - 0s 757us/step - loss: 0.4008 - mse: 0.4008
Epoch 18/50
38/38 [==============================] - 0s 676us/step - loss: 0.3994 - mse: 0.3994
Epoch 19/50
38/38 [==============================] - 0s 676us/step - loss: 0.4001 - mse: 0.4001
Epoch 20/50
38/38 [==============================] - 0s 676us/step - loss: 0.3998 - mse: 0.3998
Epoch 21/50
38/38 [==============================] - 0s 676us/step - loss: 0.3996 - mse: 0.3996
Epoch 22/50
38/38 [==============================] - 0s 676us/step - loss: 0.3981 - mse: 0.3981
Epoch 23/50
38/38 [==============================] - 0s 676us/step - loss: 0.3994 - mse: 0.3994
Epoch 24/50
38/38 [==============================] - 0s 676us/step - loss: 0.3988 - mse: 0.3988
Epoch 25/50
38/38 [==============================] - 0s 676us/step - loss: 0.3997 - mse: 0.3997
Epoch 26/50
38/38 [==============================] - 0s 676us/step - loss: 0.3977 - mse: 0.3977
Epoch 27/50
38/38 [==============================] - 0s 703us/step - loss: 0.3984 - mse: 0.3984
Epoch 28/50
38/38 [==============================] - 0s 703us/step - loss: 0.3986 - mse: 0.3986
Epoch 29/50
38/38 [==============================] - 0s 703us/step - loss: 0.4002 - mse: 0.4002
Epoch 30/50
38/38 [==============================] - 0s 703us/step - loss: 0.3953 - mse: 0.3953
Epoch 31/50
38/38 [==============================] - 0s 676us/step - loss: 0.3992 - mse: 0.3992
Epoch 32/50
38/38 [==============================] - 0s 649us/step - loss: 0.3971 - mse: 0.3971
Epoch 33/50
38/38 [==============================] - 0s 676us/step - loss: 0.3949 - mse: 0.3949
Epoch 34/50
38/38 [==============================] - 0s 676us/step - loss: 0.3948 - mse: 0.3948
Epoch 35/50
38/38 [==============================] - 0s 676us/step - loss: 0.3943 - mse: 0.3943
Epoch 36/50
38/38 [==============================] - 0s 676us/step - loss: 0.3957 - mse: 0.3957
Epoch 37/50
38/38 [==============================] - 0s 676us/step - loss: 0.3946 - mse: 0.3946
Epoch 38/50
38/38 [==============================] - 0s 676us/step - loss: 0.3944 - mse: 0.3944
Epoch 39/50
38/38 [==============================] - 0s 838us/step - loss: 0.3941 - mse: 0.3941
Epoch 40/50
38/38 [==============================] - 0s 838us/step - loss: 0.3942 - mse: 0.3942
Epoch 41/50
38/38 [==============================] - 0s 703us/step - loss: 0.3945 - mse: 0.3945
Epoch 42/50
38/38 [==============================] - 0s 676us/step - loss: 0.3940 - mse: 0.3940
Epoch 43/50
38/38 [==============================] - 0s 676us/step - loss: 0.3942 - mse: 0.3942
Epoch 44/50
38/38 [==============================] - 0s 676us/step - loss: 0.3951 - mse: 0.3951
Epoch 45/50
38/38 [==============================] - 0s 703us/step - loss: 0.3960 - mse: 0.3960
Epoch 46/50
38/38 [==============================] - 0s 703us/step - loss: 0.3932 - mse: 0.3932
Epoch 47/50
38/38 [==============================] - 0s 703us/step - loss: 0.3944 - mse: 0.3944
Epoch 48/50
38/38 [==============================] - 0s 730us/step - loss: 0.3930 - mse: 0.3930
Epoch 49/50
38/38 [==============================] - 0s 676us/step - loss: 0.3931 - mse: 0.3931
Epoch 50/50
38/38 [==============================] - 0s 649us/step - loss: 0.3937 - mse: 0.3937

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [98]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.3923 - mse: 0.3923 - 21ms/epoch - 2ms/step
Loss: 0.39230433106422424, Accuracy: 0.39230433106422424

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [91]:
# Set the model's file path
nn_filepath = Path('./student_loans.h5')

# Export your model to a HDF5 file
model.save(nn_filepath)

C:\Users\colli\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [92]:
# Set the model's file path
nn_filepath = Path('student_loans.h5')

# Load the model to a new object
model_loaded = tf.keras.models.load_model(nn_filepath)

### Step 2: Make predictions on the testing data.

In [93]:
# Make predictions on the testing data
predictions = model_loaded.predict(X_test_scaled)

13/13 [==============================] - 0s 667us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [94]:
# Create a DataFrame to compare the predictions with the actual values
pred_compare = pd.DataFrame({"predictions":predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [95]:
# Display sample data
pred_compare.head(10)

      predictions  actual
75       5.207572       5
1283     4.376960       6
408      5.829091       6
1281     5.072731       6
1118     6.959228       6
1143     6.070560       6
1215     6.094867       6
181      4.072154       5
1186     6.140425       5
1252     5.279711       5